@use "./variables";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-color: variables.$blue-very-light;
  .page-container {
    display: flex;
    .page-content {
      padding: 10px;
      flex: 1;
    }
  }
}
.error {
  padding-top: 3px;
  width: 100%;
  text-align: center;
  color: variables.$red;
  font-weight: 700;
  font-size: 1rem;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
