$blue-deep:#03588C;
$blue-light:#6BCCF2;
$blue-very-light: #CEEFFF;
$black:#0D0D0D;
$red: rgb(255, 21, 0);
$blue-border: #b0e0f3d5;
$blue-back-ground: #033858;
$black-shadow:rgba(8,7,16,0.6);
$blue-radiant: linear-gradient(#1845ad, #23a2f6);
$soft-blue-back-ground:#03588C;