@use "../../variables";

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 25%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: variables.$blue-radiant;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    transition: 0.3s ease;
    margin-top: 15px;
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(1);
    }
  }
}
